@model IEnumerable<GroupProject.Models.Customer>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer List</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.State)</th>
                    <th>@Html.DisplayNameFor(model => model.Zipcode)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cust in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelCust => cust.FirstName)</td>
                    <td>@Html.DisplayFor(modelCust => cust.LastName)</td>
                    <td>@Html.DisplayFor(modelCust => cust.Address)</td>
                    <td>@Html.DisplayFor(modelCust => cust.City)</td>
                    <td>@Html.DisplayFor(modelCust => cust.State)</td>
                    <td>@Html.DisplayFor(modelCust => cust.Zipcode)</td>
                    <td>@Html.DisplayFor(modelCust => cust.Email)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</body>
</html>
