<link href="~/css/project.css" rel="stylesheet" />
@using Microsoft.AspNetCore.Identity
@model GroupProject.Models.Customer

@inject UserManager<IdentityUser> UserManager

<h2>@UserManager.GetUserName(User)</h2>
<br />
<br />
<h2>User Information</h2>

@if (Model == null)
{
<table>
    <tr>
        <td>Email : </td>
        <td>@UserManager.GetUserName(User)</td>
    </tr>
    <tr>
        <td>First Name: </td>
        <td></td>
    </tr>
    <tr>
        <td>Last Name: </td>
        <td></td>
    </tr>
    <tr>
        <td>Address: </td>
        <td></td>
    </tr>
    <tr>
        <td>City: </td>
        <td></td>
    </tr>
    <tr>
        <td>State: </td>
        <td></td>
    </tr>
    <tr>
        <td>Zip Code: </td>
        <td></td>
    </tr>
</table>
}
else
{
<table>
    <tr>
        <td>Email : </td>
        <td>@UserManager.GetUserName(User)</td>
    </tr>
    <tr>
        <td>First Name:&nbsp; </td>
        <td>@Html.DisplayFor(model => model.FirstName)</td>
    </tr>
    <tr>
        <td>Last Name:&nbsp; </td>
        <td>@Html.DisplayFor(model => model.LastName)</td>
    </tr>
    <tr>
        <td>Address:&nbsp; </td>
        <td>@Html.DisplayFor(model => model.Address)</td>
    </tr>
    <tr>
        <td>City:&nbsp; </td>
        <td>@Html.DisplayFor(model => model.City)</td>
    </tr>
    <tr>
        <td>State:&nbsp; </td>
        <td>@Html.DisplayFor(model => model.State)</td>
    </tr>
    <tr>
        <td>Zip Code:&nbsp; </td>
        <td>@Html.DisplayFor(model => model.Zipcode)</td>
    </tr>
</table>
        

    
}


<a asp-area="" asp-controller="Customer" asp-action="Update">Update Information</a>