<link href="~/css/project.css" rel="stylesheet" />

@model IEnumerable<GroupProject.Models.Inventory>
<!DOCTYPE html>

<link href="~/css/project.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>2 Guys and a Store</title>
</head>
<body>
    <div>
        <h2>Our currently available Inventory</h2>
        <a asp-area="" asp-controller="Products" asp-action="NewItem">Add new item</a>
        <table>
            <thead >
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InventoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InventoryDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InventoryStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IventoryPrice)
                    </th>
                    <th>
                        Add to Cart
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IventoryPrice)
                        </td>
                        <td>
                            <a asp-action="AddToCart" asp-route-id="@item.InventoryID" asp-route-returnUrl="home/store">Add to Cart</a> |
                            <a asp-action="Delete" asp-route-id="@item.InventoryID" asp-route-returnUrl="home/store">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

